.search-bar{
   
    border-radius: 5px;
    padding: 20px
}
.inp{
    border-radius: 8px;
    border: 2px solid black;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.search-bar form{
    display: flex;
    flex-direction: column;
}
label{
    text-align: center;
    font-size: x-large;
    font-style: sans-serif;
    font-weight: 800;
    margin: 6px;
}